@charset "utf-8";
body {
	font: 13px/1.5 "Open Sans", FreeSans, sans-serif;
        background: url('../img/bg.png') repeat-x;
        color: #444;
}
a {color: #198BB1;text-decoration: none;}
a:hover{text-decoration: underline;}

#overlay {
    position:  absolute;
    display: none;
    height: 100%;
    width: 100%;
    background: url('../img/overlay.png') repeat;
    z-index: 9999999;
}
#overlaybox {
    position: absolute;
    padding: 10px;
    background-color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px #96CBD4 solid;
    
}
/**
 * Headings
 */
h1 {
  font-size: 25px;
  color: #198BB1;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}
/**
 * Main styles
 */
.content {
	background-color: #FFF;
	margin-top: 10px;
}
/* Top content */
.topcontent {
	background: url('../img/topcontent_bg.png') no-repeat	center top;
	height: 33px;
	width: 273px;
	margin-top: 10px;
}

/* Phone */
div.phone {
	margin-top: 7px;
	background: url('../img/phone.png') no-repeat left #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
	border: 1px #96CBD4 solid;
        height: 80px;
}
.phone h1, .phone h6, .phone p {
	color: #198BB1;
	margin-left: 50px;
}
.phone h6 {
	margin-top: 10px;
	margin-bottom: 0px;
}
.phone p {
    font-size: 11px;
    margin-bottom: 0;
    color: #000;
}
#requestcallback {
    background: url('../img/callback.png') no-repeat left #FFF;
    cursor: pointer;
}
#requestcallback:hover {
    border: 1px #228EAB solid;
}
#callbacksubmit {
	background: transparent url('../img/callme.png') no-repeat top center;
	width: 142px;
	height: 33px;
	border: none;
}
#callbackfrm input {
    text-align: center;
}

#requestcallbackclose {
    float: right;
}


/**
 * Navigation Styles
 */
.topnav {
	list-style-type: none;
	font-size: 13px;
	padding-left: 10px;
	padding-top: 3px;
}
.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 15px;
	background: url('../img/topnav_divider.png') no-repeat right;
}
.topnav li a {
	color: #4291C3;
	text-decoration: none;
}
.topnav li a:hover {
	text-decoration: underline;
}
.topnav li.last {
	background: none !important;
}

ul.nav {  
    list-style: none;  
    padding: 0 20px;  
    margin: 0;  
    float: left;  
    width: 920px;   
    font-size: 1.2em;  
    background: url('../img/navbg.png') repeat-x;  
    margin-left: -5px;
    z-index: 999;
}  
ul.nav li {  
    float: left;  
    margin: 0;  
    padding: 0 15px 0 0;  
    position: relative;
}  
ul.nav li a{  
    padding: 10px 5px;  
    color: #fff;  
    display: block;  
    text-decoration: none;  
    float: left;  
}  
ul.nav li a:hover{
    text-decoration:underline;
}  
ul.nav li ul.subnav {  
    list-style: none;  
    position: absolute;
    left: 0; top: 35px;  
    background: #333;  
    margin: 0; padding: 0;  
    display: none;  
    float: left;  
    width: 180px;  
    border: 1px solid #111;  
    z-index: 999;
}  
ul.nav li ul.subnav li{  
    margin: 0; padding: 0;  
    border-top: 1px solid #252525;
    border-bottom: 1px solid #444;
    clear: both;  
    width: 170px;  
}  
html ul.nav li ul.subnav li a {  
    float: left;  
    width: 145px;
    padding-left: 20px;  
}  

/*
 * slider
 */
.slider {
width:380px;
height:11px;
background:url(../img/slider-bg.png);
position:relative;
margin:0;
padding:0 10px;
}

/*Style for the slider button*/
.ui-slider-handle {
width:24px;
height:24px;
position:absolute;
top:-7px;
margin-left:-12px;
z-index:200;
background:url(../img/slider-button.png);
}

/*Result div where the slider value is displayed*/
.sliderresult {
font-size:50px;
height:200px;
font-family:Arial, Helvetica, sans-serif;
color:#fff;
width:250px;
text-align:center;
text-shadow:0 1px 1px #000;
font-weight:700;
padding:20px 0;
margin-left: 180px;
}

/*This is the fill bar colour*/
.ui-widget-header {
background:url(../img/fill.png) no-repeat left;
height:8px;
left:1px;
top:1px;
position:absolute;
}

.next {
	width: 53px;
	height: 48px;
	float: right;
	margin-top: 20px;
}

/**
 * Boxes
 */
.bluebox {
	background-color: #006699;
	border: 1px solid #999;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #FFF;
	padding: 10px;
}
.bluebox h6 {
	font-family: "Abel", sans-serif;
	font-size: 33px;
	margin-bottom: 30px;
	margin-top: 10px;
	padding-left: 40px;
}
.blueborder {
	border: 1px solid #09F;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.blueborder h3 {
	color: #4291C3;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
	
	text-align: center;
}
.blueborder p {
	padding-left: 5px;
	padding-right: 5px;	
}

.gradientbottom {
	background: url(../img/gradientbottom.png) repeat-x bottom !important;
}
.main {
	font-size: 15px;
}
p.slogan {
	font-size: 20px;
	color: #31719B;
	margin-top: -25px;
	margin-left: 20px;
}
.option {
	border-top: #999 thin solid;
}
.option h6, .option h6 a {
	color: 	#198BB1;
	font-size: 20px;
}
.option h6:hover {
    text-decoration: underline;
}
.toolbg {
	background:url(../img/toolbg.jpg) left no-repeat;
}


.footer a {
	color: #444;
	padding-left: 20px;
}
/**
 * Forms and inputs 
 */
	
/**
 * Lists
 */
ul.tick {
	list-style: none;
}
ul.tick li {
	background: url(../img/tick.jpg) left no-repeat;
	height: 41px;
	padding-left: 45px;	
	font-weight: bold;
	padding-top: 20px;
}
ul.tick ul {
	list-style: none;	
}
ul.tick ul li {
 	background: none;
	height: auto;
	font-weight: 100;	
	padding-left: 0px;
	padding-top: 0px;
}
ul.lessspace li {
	padding-top: 5px;	
}
.sitemap ul {
	margin-left: -10px;
}
.sitemap li {
	list-style-type: square;
}
/**
 * Misc classes
 */
.error {color:#F00;}
.italic {
	font-style:italic;
}
.pad_left_20 {padding-left:20px;}
.hidden{display:none;}
.pad_5{padding:5px;}
.pad_bot_20{padding-bottom:30px;}
.center {text-align:center;}
.justify {
    text-align: justify;
}

/**
 *
 */
.niceform td {
	padding-top: 10px;	
}
.niceform {
	font-weight: bold;
}
.niceform input, .niceform select, .niceform checkbox {
	font-weight: normal;
	border: 1px solid #000;
}

.biggerform input, .biggerform select {
	width: 180px;
}
.biggerform {
	font-size: 12px;
}
.biggerform a {
	color: #339900;
}
/**
 * Ajax Panel
 */
#ajax_panel {
	visibility: hidden;
    position: absolute;
    text-align: center;
    background-color: #edde50;
    z-index: 999999;
    margin-top: 0px;
    font-size: 15px;
    padding-bottom: 3px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}