<form id="callbackfrm" name="callbackfrm" method="post" action="#">
    <table width="200" border="0" align="center">
        <tr>
            <td>&nbsp;</td>
            <td style="text-align:right;"><a href="#" id="callbackclose">CLOSE</a></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="callbackname" id="callbackname" value="" /></td>
        </tr>
        <tr>
            <td>Telephone Number:</td>
            <td><input type="text" name="callbacknumber" id="callbacknumber" /></td>
        </tr>
        </table>
    <div style="margin-top:-10px;margin-left: 20px;"><input type="checkbox" name="callbackprivacy" id="callbackprivacy" />
    I agree to the <a href="/terms/privacy-policy" title="Privacy Policy" target="_blank" id="callbackprivacya">privacy policy</a><br /></div>
    <input type="submit" name="callbacksubmit" id="callbacksubmit" value="" style="margin-left: 40px;"/>
</form>
<script type="text/javascript">
    $(function() {
        $('#callbackclose').on("click", function() {
            $('#overlay').hide();
        });
        $('#callbacksubmit').on("click", function(ev) {
            ev.preventDefault();
            ev.stopPropagation();

            if(!$('#callbackprivacy').is(':checked')) {
                alert("Please accept the privacy policy");
                return;
            }
            var form = $('#callbackfrm').serialize() + '&callback=true';
            $('#overlaybox').html('<img src="' + window.baseurl + 'img/loader.gif" />');
            function afterfunction(data) {
                alert(data);
                $('#overlay').hide();
            }
            debts.utils.ajax(window.baseurl + 'get-help-now', form, afterfunction);
        });
        
        $('#callbackprivacya').attr('href', window.baseurl + 'terms/privacy-policy');
    });
</script>